In [ ]:
print("HELLO FMT")

HELLO FMT

In [ ]:
x=4
#x="Iyappan"
print(x)

4

In [ ]:
#Write a program that takes 3 no.s as input, print the sum on them.
a=int(input("Enter Value 1:"))
b=int(input("Enter Value 2:"))
c=int(input("Enter Value 3:"))
d=a+b+c
print("Sum", d)

Enter Value 1:5
Enter Value 2:5
Enter Value 3:5
Sum 15

In [ ]:
'''
Write a program that takes lenght and height as input, print the area of rectangle.
Calculate the Area
Enter length and height
'''
a=int(input("Enter Length :"))
b=int(input("Enter Height :"))
c=a*b
print("Area", c)

Enter Length :9
Enter Height :15
Area 135

In [ ]:
#Arthemtic operation: Write a program that takes two numbers and performs all arithmetic operations on them.
a=int(input("Enter number 1 :"))
b=int(input("Enter number 2 :"))
print("addition:",a+b)
print("subtraction:",a-b)
print("multiplication:",a*b)
print("division:",a/b)
print("floor division:",a//b)
print("modulus:",a%b)
print("exponent:",a**b)

Enter number 1 :5
Enter number 2 :6
addition: 11
subtraction: -1
multiplication: 30
division: 0.8333333333333334
floor division: 0
modulus: 5
exponent: 15625

In [ ]:
name = "Iyappan"
age = 35
height = 53.5
student_type = False
print(name, type(name))
print(age, type(age))
print(height, type(height))
print(student_type, type(student_type))

Iyappan <class 'str'>
35 <class 'int'>
53.5 <class 'float'>
False <class 'bool'>

In [ ]:
#Write a program that takes a number and prints its square and cube.
num=int(input("Enter number :"))

squre = num ** 2
cube =  num ** 3
print("squre:",squre)
print("sqcube:",cube)

Enter number :2
squre: 4
sqcube: 8

In [ ]:
#Write a program that takes marks of 3 subjects, calculates the total and average.
maths = int(input("Enter maths mark :"))
science = int(input("Enter science mark :"))
eng = int(input("Enter english mark :"))
total = maths + science + eng
print("Total ", total)
print("Average", total / 3)

Enter maths mark :5
Enter science mark :6
Enter english mark :3
Total  14
Average 4.666666666666667

In [ ]:
#Write a program to calculate the area and circumference of a circle. (Take radius as input)
r = int(input("Enter radius:"))
area = 3.14 * (r**2)
cir = 2 * 3.14 * r
print("area ", area)
print("circumference ", cir)

Enter radius:5
area  78.5
circumference  31.400000000000002

In [ ]:
#Write a program to calculate the simple interest (SI = PRT / 100).(Take P,R,T as input)
p = int(input("Enter p :"))
r = int(input("Enter r :"))
t = int(input("Enter t :"))
si = p*r*t/100
print("simple interest ", si)

Enter maths mark :5
Enter science mark :6
Enter english mark :3
simple interest  0.9

In [ ]:
#Write a program to swap the values of two variables.
a = int(input("Enter a :"))
b = int(input("Enter b :"))
a, b = b, a;
print("Swap values",a,b)

Enter a :8
Enter b :5
Swap values 5 8

In [ ]:
fruits = ["apple","bannana","orange"]
fruits
fruits.reverse()
fruits

['orange', 'bannana', 'apple']

In [ ]:
age = 12
if age >= 18 :
  print("you are eligible to vote")
else:
  print("you are not eligible to vote")

you are not eligible to vote

In [ ]:
age = 51
if age <= 19:
  print("you are younger")
elif age>19 and age<=50:
  print("you are middle age")
else:
  print("you are old")

you are old

In [ ]:
fruits = ["apple","bannana","orange"]
fruits.append("mango")
fruits[0]="kiwi"
fruits

['kiwi', 'bannana', 'orange', 'mango']

In [ ]:
# Tuple - ordered, unchangeable, allows duplicates
cars = ("Honda","Hyndai","BMW","Audi","BMW")
print(cars)

('Honda', 'Hyndai', 'BMW', 'Audi', 'BMW')

In [ ]:
print(cars[3])

Audi

In [ ]:
# Set - unordered, changeable, no duplicate itemsc= {1, 2, 3, 3, 2}
veichle = {"Car", "Bike", "Truck","Cars"}
veichle

{'Bike', 'Car', 'Cars', 'Truck'}

In [ ]:
# Dictionary - key-value pairs
employee = {
    "name": "Iyappan",
    "department": "IT",
    "salray": 10000

}
print(employee)

{'name': 'Iyappan', 'department': 'IT', 'salray': 10000}

In [ ]:
#Take a number as input and print whether it is divisible by 5 and 11 or not.
num = int(input("enter no"))
if num % 5 == 0 or num % 11 == 0:
  print("number is divisible")
else:
  print("number is not divisible")

enter no5
number is divisible

In [ ]:
#Create a list of 4 numbers. Replace the second number with the sum of the first and last number. Print the updated list.
lnum = [5,6,7,8]
lnum[1] =lnum[0] + lnum[3]
print(lnum)

[5, 13, 7, 8]

In [ ]:
#Create a tuple of three programming languages. Print the first and last element using indexing.
languages = ("python","Jave","C++")
print(languages[0])
print(languages[2])

python
C++

In [ ]:
#Make a set of numbers: {2, 4, 6, 8}. Add 10 and check whether 5 exists in the set or not.
num = {2, 4, 6, 8}
num.add(10)
print(num)
if 5 in num:
  print("exists")
else:
  print("not exists")

{2, 4, 6, 8, 10}
not exists

In [ ]:
#Create a dictionary with student details: "name", "marks", and "class". Update the marks and add a new key "passed" with value True.
student = {
    "name": "Iyappan",
    "marks": 90,
    "class":"AI"
},
student["age"]: 31
print(student)

({'name': 'Iyappan', 'marks': 90, 'class': 'AI'},)

In [ ]:
for i in range(5):
  print("FMT")

FMT
FMT
FMT
FMT
FMT

In [ ]:
for i in range(1,10,2):
  print("Number", i)

Number 1
Number 3
Number 5
Number 7
Number 9

In [ ]:
cars = ["Honda","BMW","Audi","Benz"]
for car in cars:
  print("I like ", car)

I like  Honda
I like  BMW
I like  Audi
I like  Benz

In [ ]:
count = 0
while count < 10:
  print("Number ", count)
  count+=1

Number  0
Number  1
Number  2
Number  3
Number  4
Number  5
Number  6
Number  7
Number  8
Number  9

In [ ]:
for ol in range(3):
  for il in range(5):
    print("outer:",ol,"inner:",il)

outer: 0 inner: 0
outer: 0 inner: 1
outer: 0 inner: 2
outer: 0 inner: 3
outer: 0 inner: 4
outer: 1 inner: 0
outer: 1 inner: 1
outer: 1 inner: 2
outer: 1 inner: 3
outer: 1 inner: 4
outer: 2 inner: 0
outer: 2 inner: 1
outer: 2 inner: 2
outer: 2 inner: 3
outer: 2 inner: 4

In [ ]:
for ol in range(6):
  for il in range(10):
    print("#"*ol*il, "outer value:", ol, "inner value:", il)

 outer value: 0 inner value: 0
 outer value: 0 inner value: 1
 outer value: 0 inner value: 2
 outer value: 0 inner value: 3
 outer value: 0 inner value: 4
 outer value: 0 inner value: 5
 outer value: 0 inner value: 6
 outer value: 0 inner value: 7
 outer value: 0 inner value: 8
 outer value: 0 inner value: 9
 outer value: 1 inner value: 0
# outer value: 1 inner value: 1
## outer value: 1 inner value: 2
### outer value: 1 inner value: 3
#### outer value: 1 inner value: 4
##### outer value: 1 inner value: 5
###### outer value: 1 inner value: 6
####### outer value: 1 inner value: 7
######## outer value: 1 inner value: 8
######### outer value: 1 inner value: 9
 outer value: 2 inner value: 0
## outer value: 2 inner value: 1
#### outer value: 2 inner value: 2
###### outer value: 2 inner value: 3
######## outer value: 2 inner value: 4
########## outer value: 2 inner value: 5
############ outer value: 2 inner value: 6
############## outer value: 2 inner value: 7
################ outer value: 2 inner value: 8
################## outer value: 2 inner value: 9
 outer value: 3 inner value: 0
### outer value: 3 inner value: 1
###### outer value: 3 inner value: 2
######### outer value: 3 inner value: 3
############ outer value: 3 inner value: 4
############### outer value: 3 inner value: 5
################## outer value: 3 inner value: 6
##################### outer value: 3 inner value: 7
######################## outer value: 3 inner value: 8
########################### outer value: 3 inner value: 9
 outer value: 4 inner value: 0
#### outer value: 4 inner value: 1
######## outer value: 4 inner value: 2
############ outer value: 4 inner value: 3
################ outer value: 4 inner value: 4
#################### outer value: 4 inner value: 5
######################## outer value: 4 inner value: 6
############################ outer value: 4 inner value: 7
################################ outer value: 4 inner value: 8
#################################### outer value: 4 inner value: 9
 outer value: 5 inner value: 0
##### outer value: 5 inner value: 1
########## outer value: 5 inner value: 2
############### outer value: 5 inner value: 3
#################### outer value: 5 inner value: 4
######################### outer value: 5 inner value: 5
############################## outer value: 5 inner value: 6
################################### outer value: 5 inner value: 7
######################################## outer value: 5 inner value: 8
############################################# outer value: 5 inner value: 9

In [ ]:
for ol in range(6):
  for il in range(15):
   print("$", end="")
  print()

$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$

In [ ]:
# No return and no param
def welcome():
  print("Welcome to learn python")

welcome()

Welcome to learn python

In [ ]:
# No return and with param
def welcome(display):
  print("Welcome to learn ", display)

welcome("Java")

Welcome to learn  Java

In [ ]:
# value return and with param
def Add(a,b):
  return a + b

result = Add(25,69)
print("Sum of ",result)

Sum of  94

In [ ]:
# Lamda function
#add = lambda a, b = a + b
print(Add(5,8))

13

In [ ]:
#Error handling
try:
  x=1/0
except:
  print("not divisible by zero")
finally:
  print("Done")

not divisible by zero
Done

In [ ]:
import pandas as pd # Analysis library
import seaborn as sns # Data Visualization